<article class="article-card" {{post_class}}>

    <div class="article-img" style="background-image: url({{img_url feature_image}});"></div>

    <div class="meta-data-article">
        
        <a href="{{url}}"><h3>{{title}}</h3></a>
        <p>{{excerpt characters="20"}}</p>

    </div>
</article>