<article class="archive-layout {{post_class}}">
            <div class="article-card">

                <div class="article-img" style="background-image: url({{img_url feature_image}});"></div>
                

                <div class="meta-data-article">
                    <a href="{{url}}">
                        <h2>{{title}}</h2>
                    </a>
                    <div class="post-excerpt">
                        <p>{{excerpt characters="20"}}</p>
                    </div>
                    
                    <div>
                        <a href="{{url}}"><button>En savoir plus</button></a>
                    </div>

                </div>
            </div>
                

</article>