{{!< default}}

{{#post}}

<main>
    <article class="{{post_class}} post-layout" {{#unless feature_image}}no-image{{/unless}}>
        {{#if feature_image}}
        <div class="post_hero_section" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('{{img_url feature_image}}')" alt="{{title}}')">
            <h1 class="h1-post">{{title}}</h1>
        </div>
        {{/if}}
        
        
        <section class="section_post_content">
            <div class="post_content">
                <div class="post_tag_container">
                    {{#primary_author}}
                    <div class="author-post-container">
                        

                        <p>{{name}}</p>

                    </div>
                    
                    {{/primary_author}}

                    <time datetime="{{date format="DD-MM-YYYY"}}">
                        {{date format="D MMMM YYYY"}}
                    </time>
                    </div>
                {{content}}
            </div>
            
        </section>
    
    </article>
</main>

{{/post}}