{{!< default}}

{{#post}}

<main>
    <article class="{{post_class}} post-layout" {{#unless feature_image}}no-image{{/unless}}>
        <section class="hero-post-section">
        <div class="content-hero-grid">

            
            <div class="hero-text-post">

                <p>{{tags}}</p>

                <h1 class="h1-post">{{title}}</h1>
                <div class="post_tag_container">
                    {{#primary_author}}
                        <p>{{name}}</p>                    
                    {{/primary_author}}

                    <p><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="D MMMM YYYY"}}</time></p>
                </div>
            </div>
            
        
            {{#if feature_image}}
            <div class="feature-post-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('{{img_url feature_image}}')" alt="{{title}}')"></div>
            {{/if}}


        </div>
        </section>        
        
        <section class="section-post-content">
            <div class="post-content">
                
                {{content}}
                <div class="divider-bottom-post"></div>
            </div>
            
            
        </section>
    
    </article>
    <section class="tag-archive-layout">
        
        <h2 class="h2-post-loin">Pour aller plus loin</h2>
        <div class="tag-archive-container">
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}"}}
            {{#foreach posts}}
                {{> 'post-card'}}
            {{/foreach}}
         {{/get}}

        </div>



    </section>
</main>

{{/post}}